@model Activity;
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3>@Model.Title</h3>
    </div>
    <div class="col-md-6">
      <a href="/Logout" class="btn btn-danger text-right">Logout</a>
    </div>
  </div>
  <div class="row">
    @{
      <a class="btn btn-secondary pull-right" href="/home">Back</a>
      if(@ViewBag.UserId == @Model.CoordinatorId)
      {
          <a class="btn btn-danger pull-right" href="/delete/@Model.ActivityId">Delete</a>
      } 
      else
      {
        var count = 0;
        foreach (var p in @Model.Participants)
        {
          if (@ViewBag.UserId == p.UserId)
          {
            count++;
          }
        }
        if (count == 0)
        {
          <a class="btn btn-success pull-right" href="/join/@Model.ActivityId">Join</a>
        }
        else
        {
          <a class="btn btn-warning pull-right" href="/join/@Model.ActivityId">Leave</a>
        }
      }
    }
  </div>
  <div class="row">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th width="20%">Event Coordinator</th>
          <td>@Model.Coordinator.FirstName @Model.Coordinator.LastName</td>
        </tr>
        <tr>
          <th width="20%">Description</th>
          <td>@Model.Description</td>
        </tr>
        <tr>
          <th width="20%">Participants</th>
          <td>
            <ul>
            @{
                foreach (var p in @Model.Participants)
                {
                <li>@p.User.FirstName</li>
                }
            }
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>